# OSX
#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Legacy Eclipse project files
.classpath
.project
.cproject
.settings/

# Android/IntelliJ
#
build/
.idea
.gradle
.gradle/
local.properties
*.iml
# Built application files
*.apk
*.aab
*.ap_

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Buck
buck-out/
.buckconfig.local
.buckd/
.buckversion
.fakebuckversion
*.keystore

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Vim
# Persistent undo
[._]*.un~
# Temporary
.netrwhist
*~

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
