<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string></string>
	<key>REVERSED_CLIENT_ID</key>
	<string></string>
	<key>API_KEY</key>
	<string>1234567890123456789012345678901234567890</string>
	<key>GCM_SENDER_ID</key>
	<string>12345678901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e-Mobility</string>
	<key>PROJECT_ID</key>
	<string>emobility-12345</string>
	<key>STORAGE_BUCKET</key>
	<string></string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12345678901:ios:1234567890123456</string>
	<key>DATABASE_URL</key>
	<string></string>
</dict>
</plist>
